@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
:root {
    --component-background: #f8f5f0;
    --dark-blue: #201f24;
    --white: white;
    --gray: #c7c3c2;
    --button: #92b6bc;
    --border-radius: 7px;
    --shadow: 5px 5px 7px rgb(212, 211, 211);

    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --purple: #1d0a2d;
    --light-purple: #b298f8;

    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --radius: 1rem;
    --maxWidth: 2000px;
}

html {
    height: 100%;
    
}
body {
    min-height: 100vh;
    font-family: "Epilogue", sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--purple);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 7000;
    display: none; 
}
.overlay.active {
    display: block;
}
/* Header & Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    padding-right: 4rem ;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0000002b;
    backdrop-filter: blur(16px) opacity(0.5);
    z-index: 8000;
}
.logo img {
    margin-right: 50px;
    width: 200px;
}
.menu-bar {
    display: none;
    cursor: pointer;
}
.nav-menu {
    display: flex;
    color: var(--white);
}
.close-menu-icon {
    display: none;
}
.nav-menu-item-container {
    display: flex;
    gap: 2rem;
    font-size: 1rem;
}
.list-nav-item {
    display: flex;
    align-items: center;
    gap: 7px;
}
.nav-item {
    padding: 10px;
}
.nav-item:hover {
    cursor: pointer;
    color: var(--almost-black);
    border-color: var(--almost-black);
    background-color: var(--white);
    border-radius: 10px;
    padding: 10px;
}
header {
    position: relative;

}

.slick-slide img {
    width: 100%;
    max-height: 800px;
    object-fit: cover;
}
.slick-arrow {
    position: absolute;
    background-color: transparent;
    border: none;
    transform: translate(-50%,-50%);
    top: 50%;
    z-index: 900;
    cursor: pointer;
}
.slick-prev {
    left: 2rem;
}
.slick-next {
    right: 1rem;
}

.slide-button {
    color: #B197FC;
    font-size: 1.7rem;
}
.header-black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./../assets/black-overlay.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 800;
}

.header-movie-details {
    position: absolute;
    top: 15%;
    left: 7%;
    width: 65%;
    height: 85%;
    color:  var(--white);
    font-size: 3vw;
    font-weight: 400;
    z-index: 1200;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;

}
.header-movie-title {
    font-weight: 500;
}
.flex-align-center {
    display: flex;
    align-items: center;
    gap: 10px;
}
.fa-circle {
    font-size: 1rem
}
.header-movie-genre {
    
}
.header-movie-description {
    font-size: 2vw;
    font-weight: 200;
    line-height: 1.7;
}
/* Main Container */
.main-container {
    position: relative;
    max-width: var(--maxWidth);
    margin-inline: auto;
}

#cards-grid {
    padding: 2rem 4rem 0;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    justify-content: center;
    justify-items: center;
    min-height: 700px;
    
}
.movie-card {
    width: 300px;
    height: 500px;
    background-color: var(--purple);
    border-radius: 10px;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
                0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 1.3rem;
    overflow-y: hidden;
    cursor: pointer;
}
.movie-card::before {
    content: '';
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100% + 10.6rem);
    transition: background 0.3s ease, backdrop-filter 0.3s ease;
    z-index: 1;
}
.movie-card:hover::before {
    background: rgba(224, 224, 224, 0.137);
    backdrop-filter: blur(10px);
}
.movie-card .card-details {
    color: var(--white);
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1;

    h3 {
        font-size: 2rem;
    }
    p {
        font-weight: 500;
        line-height: 1.4;
        max-width: 85%;
    }
}
.movie-card::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
.movie-card::-webkit-scrollbar-thumb {
    background-color: var(--light-purple);
    border-radius: 10px;
}
/* Pagination */
.pagination-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination {
    position: relative;
    height: 60px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    border-radius: var(--radius);
    margin-top: 3rem;
}
.pagination-container .pagination li {
    list-style-type: none;
    display: inline-block;
}
.pagination-container .pagination li a {
    padding: 20px 25px;
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
}
.pagi-button:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: var(--radius);
    cursor: pointer;
}
#pagi-prev:hover {
    cursor: no-drop;
}
/* Movie POPUP */
#movie-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left:50%;
    z-index: 9999;
}
#videoPlayer {
    width: 700px;
    height: 400px;
    border: none;
}
.crew-container {
    display: flex;
    gap: 40px;
    width: 1000px;
    height:  230px;
    background-color: transparent;
    border-radius: var(--radius);
    overflow-x: auto;
    overflow-y: hidden;
}
.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: fit-content;
    color:var(--white);

    img {
        width: 100px;
        border-radius: 10px;
        background-color: var(--white);
    }
    h3 {
        font-size: 0.8rem;
        text-align: center;
    }
    p {
        font-size: 0.7rem;
        text-align: center;
    }
}
.crew-container::-webkit-scrollbar {
    height: 10px;
    background-color: transparent;
}
.crew-container::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-radius: 10px;
}


@media screen and (min-width: 1350px) {
    .main-heading {
        font-size: 5.5rem;
    }
}
@media screen and (max-width: 1024px) {
    .nav-logo-menu-bar {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .menu-bar {
        display: block;
    }
    .close-menu-icon {
        display: block;
    }
    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 250px;
        z-index: 9999;
        background-color: var(--purple);
        flex-direction: column;
        justify-content: flex-start;
        transition: right 0.3s ease-in-out;
        box-shadow: -2px 0 5px rgba(145, 144, 144, 0.5);
    }
    .nav-menu.show {
        right: 0;
    }
    .nav-menu-item-container {
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
    }
    .close-menu-icon {
        align-self: flex-end;
        margin: 1rem;
        cursor: pointer;
    }

}

@media screen and (max-width: 550px) {
    .slick-slide img {
        height: 300px;
        max-height: unset;
    }
    .header-movie-details {
        font-size: 1rem;
    }
    .header-movie-description  {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 800px) {
    .slick-slide img {
        height: 500px;
    }
}

.invisible {
    display: none;
    visibility: hidden;
}

/* LOADING */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensure it stays on top */
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}